# Introduction to Tables
---

In this notebook, you will learn about tables in the datascience module and methods associated with them.
This notebook assumes that you have already completed the "Introduction to Data Science" notebook.

*Estimated Time: 30 minutes*

---

**Topics Covered:**
- Learn how to import and create new Tables.
- Learn how to access certain rows, columns, and values.
- Learn various methods of finding new information from a table of data.

**Parts:**
- Creating Tables
- Accessing Values
- Working With Data

**Dependencies:**

In [3]:
!pip install datascience

import numpy as np
from datascience import *

Requirement already satisfied: datascience in c:\users\ashley\anaconda3\lib\site-packages
Requirement already satisfied: coveralls==0.5 in c:\users\ashley\anaconda3\lib\site-packages (from datascience)
Requirement already satisfied: pytest in c:\users\ashley\anaconda3\lib\site-packages (from datascience)
Requirement already satisfied: coverage==3.7.1 in c:\users\ashley\anaconda3\lib\site-packages (from datascience)
Requirement already satisfied: folium==0.1.5 in c:\users\ashley\anaconda3\lib\site-packages (from datascience)
Requirement already satisfied: sphinx in c:\users\ashley\anaconda3\lib\site-packages\sphinx-1.5.1-py3.6.egg (from datascience)
Requirement already satisfied: setuptools in c:\users\ashley\anaconda3\lib\site-packages\setuptools-27.2.0-py3.6.egg (from datascience)
Requirement already satisfied: PyYAML>=3.10 in c:\users\ashley\anaconda3\lib\site-packages (from coveralls==0.5->datascience)
Requirement already satisfied: requests>=1.0.0 in c:\users\ashley\anaconda3\lib\site-packages (from coveralls==0.5->datascience)
Requirement already satisfied: docopt>=0.6.1 in c:\users\ashley\anaconda3\lib\site-packages (from coveralls==0.5->datascience)
Requirement already satisfied: py>=1.4.29 in c:\users\ashley\anaconda3\lib\site-packages (from pytest->datascience)
Requirement already satisfied: colorama in c:\users\ashley\anaconda3\lib\site-packages (from pytest->datascience)
Requirement already satisfied: six>=1.5 in c:\users\ashley\anaconda3\lib\site-packages (from sphinx->datascience)
Requirement already satisfied: Jinja2>=2.3 in c:\users\ashley\anaconda3\lib\site-packages (from sphinx->datascience)
Requirement already satisfied: Pygments>=2.0 in c:\users\ashley\anaconda3\lib\site-packages (from sphinx->datascience)
Requirement already satisfied: docutils>=0.11 in c:\users\ashley\anaconda3\lib\site-packages (from sphinx->datascience)
Requirement already satisfied: snowballstemmer>=1.1 in c:\users\ashley\anaconda3\lib\site-packages (from sphinx->datascience)
Requirement already satisfied: babel!=2.0,>=1.3 in c:\users\ashley\anaconda3\lib\site-packages (from sphinx->datascience)
Requirement already satisfied: alabaster<0.8,>=0.7 in c:\users\ashley\anaconda3\lib\site-packages (from sphinx->datascience)
Requirement already satisfied: imagesize in c:\users\ashley\anaconda3\lib\site-packages (from sphinx->datascience)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ashley\anaconda3\lib\site-packages (from Jinja2>=2.3->sphinx->datascience)
Requirement already satisfied: pytz>=0a in c:\users\ashley\anaconda3\lib\site-packages (from babel!=2.0,>=1.3->sphinx->datascience)

## Creating Tables

When dealing with a collection of things with multiple attributes, it can be useful to put the data in a _table_.  Tables are a nice way of organizing data in a 2-dimentional data set. For example, take a look at the table below.

In [4]:
Table.read_table('http://inferentialthinking.com/notebooks/nba_salaries.csv')

PLAYER           | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

This table shows players in the NBA, their position, team, and salary (in millions of dollars) for each player. To create this table, we have drawn the data from the file at <a href="http://inferentialthinking.com/notebooks/nba_salaries.csv">this link</a>, called `nba_salaries.csv`. In general, to import data from a `.csv` file, we write **`Table.read_table("file_name")`.**

However, we can also create our own tables from scratch without having to import data from another file. Let's say we have two arrays, one with a list of fruits, and another with a list of their price at the Berkeley Student Food Collective. Then, we can create a new `Table` with each of these arrays as columns with the `with_columns` method:

In [27]:
fruit_names = make_array("Apple", "Orange", "Banana")
fruit_prices = make_array(1, 0.75, 0.5)
fruit_table = Table().with_columns("Fruit", fruit_names,
                                  "Price ($)", fruit_prices)
fruit_table

Fruit  | Price ($)
Apple  | 1
Orange | 0.75
Banana | 0.5

The **`with_columns`** method takes in pairs of column labels and arrays, and creates a new table with each array as a column of the table. Finally, to create a new table (with no columns or rows), we simply write

In [18]:
empty_table = Table()
empty_table

We typically start off with empty tables when we need to add rows inside for loops, which we'll see later.

## Accessing Values

Often, it is useful to access only the rows, columns, or values related to our analysis. We'll look at several ways to cut down our table into smaller, more digestible parts.

Let's go back to our table of NBA players.

** Exercise 1 **

Below, assign a variable named `nba_salaries` to the data from the `nba_salaries.csv` file at http://inferentialthinking.com/notebooks/nba_salaries.csv, then display the table. (Hint: use the `read_table` function from the previous section).

In [5]:
# YOUR CODE HERE

nba_salaries = Table.read_table("http://inferentialthinking.com/notebooks/nba_salaries.csv")

Notice that not all of the rows are displayed--in fact, there are over 400 rows in the table! By default, we are shown the first 10 rows.

However, let's say we wanted to see only the first _five_ rows of this table. We can do this by using the **`take`** function; it takes in a list or range of numbers, and creates a new table with rows from the original table whose indices are given in the array or range. Remember that in Python, indices start at 0! Below are a few examples:

In [6]:
nba_salaries.take([1, 3, 5]) # Takes rows with indices 1, 3, and 5 (the 2nd, 4th, and 6th rows)

PLAYER          | POSITION | TEAM          | '15-'16 SALARY
Al Horford      | C        | Atlanta Hawks | 12
Jeff Teague     | PG       | Atlanta Hawks | 8
Thabo Sefolosha | SF       | Atlanta Hawks | 4

In [7]:
nba_salaries.take(7) # Takes the row with index 7 (8th row)

PLAYER        | POSITION | TEAM          | '15-'16 SALARY
Kent Bazemore | SF       | Atlanta Hawks | 2

In [8]:
nba_salaries.take(np.arange(7)) # Takes the row with indices 0, 1, ... 6

PLAYER          | POSITION | TEAM          | '15-'16 SALARY
Paul Millsap    | PF       | Atlanta Hawks | 18.6717
Al Horford      | C        | Atlanta Hawks | 12
Tiago Splitter  | C        | Atlanta Hawks | 9.75625
Jeff Teague     | PG       | Atlanta Hawks | 8
Kyle Korver     | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha | SF       | Atlanta Hawks | 4
Mike Scott      | PF       | Atlanta Hawks | 3.33333

Similarly, we can also choose to display certain columns of the table. There are two methods to accomplish this, and both methods take in lists of either column indices or column labels:
- The **`select`** method creates a new table with only the columns indicated in the parameters.
- The **`drop`** method creates a new table with all columns _except_ those indicated by the parameters (i.e. the parameters are dropped).

Some examples:

In [9]:
nba_salaries.select(["PLAYER", "'15-'16 SALARY"]) # Selects only "PLAYER" and "'15-'16 SALARY" columns

PLAYER           | '15-'16 SALARY
Paul Millsap     | 18.6717
Al Horford       | 12
Tiago Splitter   | 9.75625
Jeff Teague      | 8
Kyle Korver      | 5.74648
Thabo Sefolosha  | 4
Mike Scott       | 3.33333
Kent Bazemore    | 2
Dennis Schroder  | 1.7634
Tim Hardaway Jr. | 1.30452
... (407 rows omitted)

In [14]:
nba_salaries.take([1]) # What does this line of code do again?

PLAYER     | POSITION | TEAM          | '15-'16 SALARY
Al Horford | C        | Atlanta Hawks | 12

In [15]:
nba_salaries.drop([1, 3]) # Drops the columns with indices 1 and 3 ("POSITION" and "'15-'16 SALARY" columns)

PLAYER           | TEAM
Paul Millsap     | Atlanta Hawks
Al Horford       | Atlanta Hawks
Tiago Splitter   | Atlanta Hawks
Jeff Teague      | Atlanta Hawks
Kyle Korver      | Atlanta Hawks
Thabo Sefolosha  | Atlanta Hawks
Mike Scott       | Atlanta Hawks
Kent Bazemore    | Atlanta Hawks
Dennis Schroder  | Atlanta Hawks
Tim Hardaway Jr. | Atlanta Hawks
... (407 rows omitted)

In [16]:
nba_salaries.select([0, 3]).take([1, 3, 5, 7]) # Select only columns with indices 0 and 3, 
                                               # then only the rows with indices 1, 3, 5, 7

PLAYER          | '15-'16 SALARY
Al Horford      | 12
Jeff Teague     | 8
Thabo Sefolosha | 4
Kent Bazemore   | 2

** Exercise 2**

To make sure you understand the `take`, `select`, and `drop` functions, try creating a new Table with only the columns of the player name and the position, with only the first 3 rows:

In [ ]:
# YOUR CODE HERE

Finally, the **`where`** function is similar to the `take` function in that you choose certain rows; however, rather than specifying the indices of the selected rows, we give two arguments:
- A column label
- A condition that each row should match, called the _predicate_ 

In other words, we call the `where` function like so: `table_name.where(column_name, predicate)`.

There are many types of predicates, but some of the more common ones that you are likely to use are:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|

Here are some examples of using the `where` function:

In [35]:
nba_salaries.where("TEAM", are.equal_to("Golden State Warriors")) # Rows where team is equal to "Golden State Warriors"

PLAYER            | POSITION | TEAM                  | '15-'16 SALARY
Klay Thompson     | SG       | Golden State Warriors | 15.501
Draymond Green    | PF       | Golden State Warriors | 14.2609
Andrew Bogut      | C        | Golden State Warriors | 13.8
Andre Iguodala    | SF       | Golden State Warriors | 11.7105
Stephen Curry     | PG       | Golden State Warriors | 11.3708
Jason Thompson    | PF       | Golden State Warriors | 7.00847
Shaun Livingston  | PG       | Golden State Warriors | 5.54373
Harrison Barnes   | SF       | Golden State Warriors | 3.8734
Marreese Speights | C        | Golden State Warriors | 3.815
Leandro Barbosa   | SG       | Golden State Warriors | 2.5
... (4 rows omitted)

In [36]:
nba_salaries.where("POSITION", are.not_equal_to("SG")) # Rows where position is not equal to "SG"

PLAYER          | POSITION | TEAM           | '15-'16 SALARY
Paul Millsap    | PF       | Atlanta Hawks  | 18.6717
Al Horford      | C        | Atlanta Hawks  | 12
Tiago Splitter  | C        | Atlanta Hawks  | 9.75625
Jeff Teague     | PG       | Atlanta Hawks  | 8
Thabo Sefolosha | SF       | Atlanta Hawks  | 4
Mike Scott      | PF       | Atlanta Hawks  | 3.33333
Kent Bazemore   | SF       | Atlanta Hawks  | 2
Dennis Schroder | PG       | Atlanta Hawks  | 1.7634
Walter Tavares  | C        | Atlanta Hawks  | 1
Avery Bradley   | PG       | Boston Celtics | 7.73034
... (311 rows omitted)

In [19]:
nba_salaries.where(3, are.above_or_equal_to(20)).select(0, 2, 3) # Rows where salary is greater than or equal to 20,
                                                              # then select only the player, team, and salary columns

PLAYER          | TEAM                  | '15-'16 SALARY
Joe Johnson     | Brooklyn Nets         | 24.8949
Derrick Rose    | Chicago Bulls         | 20.0931
LeBron James    | Cleveland Cavaliers   | 22.9705
Dwight Howard   | Houston Rockets       | 22.3594
Chris Paul      | Los Angeles Clippers  | 21.4687
Kobe Bryant     | Los Angeles Lakers    | 25
Chris Bosh      | Miami Heat            | 22.1927
Dwyane Wade     | Miami Heat            | 20
Carmelo Anthony | New York Knicks       | 22.875
Kevin Durant    | Oklahoma City Thunder | 20.1586

** Exercise 3 **

Now you try: assign the variable `heat_high_pay` to a Table with players from the Miami Heat AND who earned $20 million or more during the '15-'16 season, with the team name dropped. (Hint: there are three "steps" to get your final result, and you should get 2 rows at the end!)

In [ ]:
# YOUR CODE HERE

## Working With Data

Using the methods that we have learned, we can now dive into calculating statistics from data in tables. Two useful _attributes_ (variables, not methods!) of tables are **`num_rows`** and **`num_columns`**. They store the number of rows and the number of columns in a given table, respectively. For example:

In [20]:
num_players = nba_salaries.num_rows
print("Number of rows: ", num_players)
num_attributes = nba_salaries.num_columns
print("Numbers of columns: ", num_attributes)

Number of rows:  417
Numbers of columns:  4

Notice that we do _not_ put `()` after `num_rows` and `num_columns`, as we did for other methods.

Using all of the methods we have learned in this notebook, we have many interesting ways of finding out new information about NBA players in the 2015-2016 season. For example, let's say we wanted to find out the proportion of players who were paid more than $10 million in the '15-'16 season. Our train of thought might go something like this:

1. Create a new table, but select only the rows where the salary is more than $10 million.
2. Find the number of rows in this new table.
3. Divide this number by the total number of players in the table to get the proportion.

Now, we can translate this into code:

In [39]:
paid_10_or_higher_table = nba_salaries.where(3, are.above(10)) # Step 1
paid_10_or_higher = paid_10_or_higher_table.num_rows # Step 2
proportion_paid_10 = paid_10_or_higher / nba_salaries.num_rows # Step 3
proportion_paid_10

0.16546762589928057

** Exercise 4 **

As an exercise, find out the proportion of point guards (i.e. the "Position" is "PG") in the table `nba_salaries`. From what you know about typical basketball team position proportions, is this number close to what you expected?

In [41]:
# YOUR CODE HERE

Another way we can process data in tables is to apply functions to columns. We can select one column from a table as an array with the **`column`** method. For example, `nba_salaries.column("PLAYER")` would return an _array_ of player names.

Let's say we wanted to find the average salary of all NBA players in the '15-'16 season. Taking arrays makes this quite straightforward; we simply need to select the column of salaries, then apply the `np.mean` function to the array:

In [42]:
salary_array = nba_salaries.column(3)
avg_salary = np.mean(salary_array)
avg_salary

5.0748144820143883

We see that the average salary for NBA players in the '15-'16 season was just above $5 million.

** Exercise 5 **

Now you try: what is the _range_ (the maximum minus the minimum) of the salary of NBA players? (Hint: the `max` and `min` functions might be handy)

Feel free to use the `salary_array` from above.

In [43]:
# YOUR CODE HERE

Finally, it can be very useful to sort our tables according to some column. The `sort` function does exactly that; it takes the column that you want to sort by. By default, the `sort` function sorts the table in _ascending_ order of the data in the column indicated; however, you can change this by setting the optional parameter `descending=True`.

Below are some examples:

In [44]:
nba_salaries.sort("PLAYER") # Sort table by name in alphabetical (ascending) order

PLAYER          | POSITION | TEAM                   | '15-'16 SALARY
Aaron Brooks    | PG       | Chicago Bulls          | 2.25
Aaron Gordon    | PF       | Orlando Magic          | 4.17168
Aaron Harrison  | SG       | Charlotte Hornets      | 0.525093
Adreian Payne   | PF       | Minnesota Timberwolves | 1.93884
Al Horford      | C        | Atlanta Hawks          | 12
Al Jefferson    | C        | Charlotte Hornets      | 13.5
Al-Farouq Aminu | SF       | Portland Trail Blazers | 8.04289
Alan Anderson   | SG       | Washington Wizards     | 4
Alec Burks      | SG       | Utah Jazz              | 9.46348
Alex Len        | C        | Phoenix Suns           | 3.80712
... (407 rows omitted)

In [45]:
nba_salaries.sort(3, descending=True) # Sort table by salary in descending order (highest salary at top)

PLAYER          | POSITION | TEAM                  | '15-'16 SALARY
Kobe Bryant     | SF       | Los Angeles Lakers    | 25
Joe Johnson     | SF       | Brooklyn Nets         | 24.8949
LeBron James    | SF       | Cleveland Cavaliers   | 22.9705
Carmelo Anthony | SF       | New York Knicks       | 22.875
Dwight Howard   | C        | Houston Rockets       | 22.3594
Chris Bosh      | PF       | Miami Heat            | 22.1927
Chris Paul      | PG       | Los Angeles Clippers  | 21.4687
Kevin Durant    | SF       | Oklahoma City Thunder | 20.1586
Derrick Rose    | PG       | Chicago Bulls         | 20.0931
Dwyane Wade     | SG       | Miami Heat            | 20
... (407 rows omitted)

As a final exercise, this will combine methods that you have learned throughout this notebook. Take it one step at a time!

** Exercise 6 **

Create a new table with the 5 of the most highly paid point guards ("Position is "PG") in the '15-'16 season. These players may NOT be from the Chicago Bulls. Also, only leave the player name and team name in your final result.

Hint: In no particular order, you may need to use the `sort`, `take`, `where`, and `select` functions.

In [ ]:
# YOUR CODE HERE

## Summary

As a summary, here are the functions we learned about during this notebook:
    
|Name|Example|Purpose|
|-|-|-|
|`Table`|`Table()`|Create an empty table, usually to extend with data|
|`Table.read_table`|`Table.read_table("my_data.csv")`|Create a table from a data file|
|`with_columns`|`tbl = Table().with_columns("N", np.arange(5), "2*N", np.arange(0, 10, 2))`|Create a copy of a table with more columns|
|`column`|`tbl.column("N")`|Create an array containing the elements of a column|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`num_rows`|`tbl.num_rows`|Compute the number of rows in a table|
|`num_columns`|`tbl.num_columns`|Compute the number of columns in a table|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("2*N")`|Create a copy of a table without some of the columns|
|`take`|`tbl.take(np.arange(0, 6, 2))`|Create a copy of the table with only the rows whose indices are in the given array|

## Bibliography
---
Some examples adapted from the UC Berkeley Data 8 textbook, <a href="https://www.inferentialthinking.com">*Inferential Thinking*</a>.

Authors:
- Shriya Vohra
- Scott Lee
- Pancham Yadav

# Introduction to Strings
---

This notebook covers the topic of Strings and their importance in the world of programming. You will learn various methods that will help you manipulate these Strings and make useful inferences with them. This notebook assumes that you have already completed the "Introduction to Data Science" notebook.

*Estimated Time: 30 minutes*

---

**Topics Covered:**
- Objects
- String Concatenation
- Loops
- String Methods

**Dependencies:**

In [ ]:
import numpy as np
from datascience import *

## What Are Objects?

Objects are used very frequently when you're coding - even when you dont know it. But what really is an object? 

By definition, an object is an **instance** of a **class**. They're an **abstraction**, so they can be used to manipulate data. That sounds complicated, doesn't it? Well, to simplify, think of this: a class is a huge general category of something which holds particular attributes (variables) and actions (functions). Let's assume that Mars has aliens called Xelhas and one of them visits Earth. The Xelha species would be a class, and the alien itself would be an *instance* of that class (or an object). By observing its behavior and mannerisms, we would be able to see how the rest of its species goes about doing things.

Strings are objects too, of the *String* class, which has pre-defined methods that we use. But you don't need to worry about that yet. All you should know is that Strings are **not** "primitive" data types, such as integers or booleans. That being said, let's delve right in.

Try running the code cell below:

In [2]:
5 + "5"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Why did that happen?

This can be classified as a *type* error. As mentioned before, Strings are not primitive data types, like integers and booleans, so when you try to **add** a String to an integer, Python gets confused and throws an error. The important thing to note here is that a String is a String: no matter what its contents may be. If it's between two quotes, it has to be a String. 

But what if we followed the "same type" rule and tried to add two Strings? Let's try it.

In [ ]:
"5" + "5"

What?! How does 5 + 5 equal 55?

This is known as concatenation.

## Concatenation

"Concatenating" two items means literally combining or joining them. 

When you put the + operator between two Strings, Python will take the contents from both Strings and mash them together to make one String. This process is called **concatenation**.

The following examples illustrate how String concatenation works:

In [4]:
"Berk" + "eley"

'Berkeley'

Concatenation happens left to right, like how would you expect. In the example below, "B" and "e" are first combined to get "Be", which is then combined with "r" to get "Ber", and so on.

In [5]:
"B" + "e" + "r" + "k" + "e" + "l" + "e" + "y"

'Berkeley'

**Exericse 1**

Here's a small exercise for you. In the variable _expression_, create the String "today is a lovely day" using only the variables provided for letters.

_Hint: Remember to add spaces between words (double quotes with a space in between, like " ") because Python literally clubs all text together._

In [8]:
a = "oda"
b = "is"
c = "a"
d = "l"
e = "t"
f = "y"
g = "lo"
h = "d"
i = "ve"

In [9]:
expression = # Your Code Here
print(expression)

SyntaxError: invalid syntax (<ipython-input-9-c2e46a62476f>, line 1)

## String methods

The String class is great for regular use because it comes equipped with a lot of built-in functions with useful properties. These functions, or **methods**, can fundamentally transform Strings. Here are some common String methods that may prove to be helpful.

### Replace
For example, the *replace* method replaces all instances of some part of a String with some replacement. A method is invoked on a String by placing a dot after the string value, then the name of the method, and finally parentheses containing the arguments.

    <String>.<method name>(<argument>, <argument>, ...)

Try to predict the output of these examples, then execute them.

In [11]:
# Replace one letter
'Hello'.replace('e', 'i')

'Hillo'

In [12]:
# Replace a sequence of letters, which appears twice
'hitchhiker'.replace('hi', 'ma')

'matchmaker'

When you call a method on a String stored in a variable, it does not fundamentally change the String stored in the variable, so you have to save the result of calling a method into a new variable to see the change. 

Remember, a String method will replace **every** instance of where the replacement text is found.

In [13]:
sharp = 'edged'
hot = sharp.replace('ed', 'ma')
print('sharp =', sharp)
print('hot =', hot)

sharp = edged
hot = magma

Another very useful method is the **`split`** method. It takes in a **separator string** and based on the separator, splits up the original string into an array, with each element of the array being a separated portion of the string.

This is how we create a split call, where String indicates something of the String class, whether it be a variable name that contains a String, or just something in quotes:

`[String].split([String])`

Here, we split this sentence based on spaces, so every individual word is an element in our final array.

In [15]:
"Another very useful method is the split method".split(" ")

['Another', 'very', 'useful', 'method', 'is', 'the', 'split', 'method']

In the below example, we have a String of numbers and split based on the comma. We thus get an array of numbers, but which are in quotes, so they are still Strings. We can loop through every element in our array to convert all of the Strings of numbers into ints.

In [17]:
string_of_numbers = "1, 2, 3, 4, 5, 6, 7"
arr_of_strings = string_of_numbers.split(", ")
print(arr_of_strings) # Remember, these elements are still Strings!

arr_of_numbers = []
for s in arr_of_strings: # Loop through the array, converting each String to an int
    arr_of_numbers.append(int(s))
print(arr_of_numbers)

['1', '2', '3', '4', '5', '6', '7']
[1, 2, 3, 4, 5, 6, 7]

As you can see, the `split` function can be very handy when cleaning up and organizing data (a process known as _parsing_).

## Loops

What do you do when you have to do the same task repetitively? Let's say you have to say Hi to someone five times. Would that require 5 lines of "print('hi')"? No! This is why coding is beautiful. It allows for automation and takes care of all the hard work. 

Loops, in the literal meaning of the term, can be used to repeat tasks over and over, until you get your desired output. 

The most useful loop to know for the scope of this course is the **for** loop.

A for statement begins with the word *for*, followed by a name we want to give each item in the sequence, followed by the word *in*, and ending with an expression that evaluates to a sequence. The indented body of the for statement is executed once for each item in that sequence.

    for *variable* in *sequence*:
        *body of function*
        
Let's see what happens with this for loop.

In [19]:
for each_character in "John DeNero":
    print(each_character)

J
o
h
n

D
e
N
e
r
o

In this case, we are looping through the characters inside of the String "John DeNero". At the first iteration of our for loop, each_character is at the character "J", so it prints the "J". At the next iteration, we reach the character "o", so that is printed, and so on.

**Exercise 2**

Write a for loop that iterates through the sentence "Hi, I am a quick brown fox and I jump over the lazy dog" and checks if each letter is an *a*. Print out the number of a's in the sentence.

_Hint: try combining what you've learnt from conditions and use a variable as a counter._

In [ ]:
# Your Code Here
for ...

## Conclusion
---
Congratulations! You have learned the basics of String manipulation in Python.

## Bibliography
---
Some examples adapted from the UC Berkeley Data 8 textbook, <a href="https://www.inferentialthinking.com">*Inferential Thinking*</a>.

Authors:
- Shriya Vohra
- Scott Lee
- Pancham Yadav