# Introduction to Tables
---

In this notebook, you will learn about tables in the datascience module and methods associated with them.
This notebook assumes that you have already completed the "Introduction to Data Science" notebook.

*Estimated Time: 30 minutes*

---

**Topics Covered:**
- Learn how to import and create new Tables.
- Learn how to access certain rows, columns, and values.
- Learn various methods of finding new information from a table of data.

**Parts:**
- Creating Tables
- Accessing Values
- Working With Data

**Dependencies:**

In [ ]:
!pip install datascience

import numpy as np
from datascience import *

## Creating Tables

When dealing with a collection of things with multiple attributes, it can be useful to put the data in a _table_.  Tables are a nice way of organizing data in a 2-dimentional data set. For example, take a look at the table below.

In [ ]:
Table.read_table('http://inferentialthinking.com/notebooks/nba_salaries.csv')

This table shows players in the NBA, their position, team, and salary (in millions of dollars) for each player. To create this table, we have drawn the data from the file at <a href="http://inferentialthinking.com/notebooks/nba_salaries.csv">this link</a>, called `nba_salaries.csv`. In general, to import data from a `.csv` file, we write **`Table.read_table("file_name")`.**

However, we can also create our own tables from scratch without having to import data from another file. Let's say we have two arrays, one with a list of fruits, and another with a list of their price at the Berkeley Student Food Collective. Then, we can create a new `Table` with each of these arrays as columns with the `with_columns` method:

In [ ]:
fruit_names = make_array("Apple", "Orange", "Banana")
fruit_prices = make_array(1, 0.75, 0.5)
fruit_table = Table().with_columns("Fruit", fruit_names,
                                  "Price ($)", fruit_prices)
fruit_table

The **`with_columns`** method takes in pairs of column labels and arrays, and creates a new table with each array as a column of the table. Finally, to create a new table (with no columns or rows), we simply write

In [ ]:
empty_table = Table()
empty_table

We typically start off with empty tables when we need to add rows inside for loops, which we'll see later.

## Accessing Values

Often, it is useful to access only the rows, columns, or values related to our analysis. We'll look at several ways to cut down our table into smaller, more digestible parts.

Let's go back to our table of NBA players.

** Exercise 1 **

Below, assign a variable named `nba_salaries` to the data from the `nba_salaries.csv` file at http://inferentialthinking.com/notebooks/nba_salaries.csv, then display the table. (Hint: use the `read_table` function from the previous section).

In [ ]:
# YOUR CODE HERE
nba_salaries = Table.read_table('http://inferentialthinking.com/notebooks/nba_salaries.csv')
nba_salaries

Notice that not all of the rows are displayed--in fact, there are over 400 rows in the table! By default, we are shown the first 10 rows.

However, let's say we wanted to see only the first _five_ rows of this table. We can do this by using the **`take`** function; it takes in a list or range of numbers, and creates a new table with rows from the original table whose indices are given in the array or range. Remember that in Python, indices start at 0! Below are a few examples:

In [ ]:
nba_salaries.take([1, 3, 5]) # Takes rows with indices 1, 3, and 5 (the 2nd, 4th, and 6th rows)

In [ ]:
nba_salaries.take(7) # Takes the row with index 7 (8th row)

In [ ]:
nba_salaries.take(np.arange(7)) # Takes the row with indices 0, 1, ... 6

Similarly, we can also choose to display certain columns of the table. There are two methods to accomplish this, and both methods take in lists of either column indices or column labels:
- The **`select`** method creates a new table with only the columns indicated in the parameters.
- The **`drop`** method creates a new table with all columns _except_ those indicated by the parameters (i.e. the parameters are dropped).

Some examples:

In [ ]:
nba_salaries.select(["PLAYER", "'15-'16 SALARY"]) # Selects only "PLAYER" and "'15-'16 SALARY" columns

In [ ]:
nba_salaries.take([1]) # What does this line of code do again?

In [ ]:
nba_salaries.drop([1, 3]) # Drops the columns with indices 1 and 3 ("POSITION" and "'15-'16 SALARY" columns)

In [ ]:
nba_salaries.select([0, 3]).take([1, 3, 5, 7]) # Select only columns with indices 0 and 3, 
                                               # then only the rows with indices 1, 3, 5, 7

** Exercise 2**

To make sure you understand the `take`, `select`, and `drop` functions, try creating a new Table with only the columns of the player name and the position, with only the first 3 rows:

In [ ]:
# YOUR CODE HERE
nba_salaries.select(["PLAYER", "POSITION"]).take(np.arange(3))

Finally, the **`where`** function is similar to the `take` function in that you choose certain rows; however, rather than specifying the indices of the selected rows, we give two arguments:
- A column label
- A condition that each row should match, called the _predicate_ 

In other words, we call the `where` function like so: `table_name.where(column_name, predicate)`.

There are many types of predicates, but some of the more common ones that you are likely to use are:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|

Here are some examples of using the `where` function:

In [ ]:
nba_salaries.where("TEAM", are.equal_to("Golden State Warriors")) # Rows where team is equal to "Golden State Warriors"

In [ ]:
nba_salaries.where("POSITION", are.not_equal_to("SG")) # Rows where position is not equal to "SG"

In [ ]:
nba_salaries.where(3, are.above_or_equal_to(20)).select(0, 2, 3) # Rows where salary is greater than or equal to 20,
                                                              # then select only the player, team, and salary columns

** Exercise 3 **

Now you try: assign the variable `heat_high_pay` to a Table with players from the Miami Heat AND who earned $20 million or more during the '15-'16 season, with the team name dropped. (Hint: there are three "steps" to get your final result, and you should get 2 rows at the end!)

In [ ]:
# YOUR CODE HERE
heat_high_pay = nba_salaries.where("TEAM", "Miami Heat").where(3, are.above_or_equal_to(20)).drop(2)
heat_high_pay

## Working With Data

Using the methods that we have learned, we can now dive into calculating statistics from data in tables. Two useful _attributes_ (variables, not methods!) of tables are **`num_rows`** and **`num_columns`**. They store the number of rows and the number of columns in a given table, respectively. For example:

In [ ]:
num_players = nba_salaries.num_rows
print("Number of rows: ", num_players)
num_attributes = nba_salaries.num_columns
print("Numbers of columns: ", num_attributes)

Notice that we do _not_ put `()` after `num_rows` and `num_columns`, as we did for other methods.

Using all of the methods we have learned in this notebook, we have many interesting ways of finding out new information about NBA players in the 2015-2016 season. For example, let's say we wanted to find out the proportion of players who were paid more than $10 million in the '15-'16 season. Our train of thought might go something like this:

1. Create a new table, but select only the rows where the salary is more than $10 million.
2. Find the number of rows in this new table.
3. Divide this number by the total number of players in the table to get the proportion.

Now, we can translate this into code:

In [ ]:
paid_10_or_higher_table = nba_salaries.where(3, are.above(10)) # Step 1
paid_10_or_higher = paid_10_or_higher_table.num_rows # Step 2
proportion_paid_10 = paid_10_or_higher / nba_salaries.num_rows # Step 3
proportion_paid_10

** Exercise 4 **

As an exercise, find out the proportion of point guards (i.e. the "Position" is "PG") in the table `nba_salaries`. From what you know about typical basketball team position proportions, is this number close to what you expected?

In [ ]:
# YOUR CODE HERE
pg_table = nba_salaries.where(1, are.equal_to("PG"))
pg_num = pg_table.num_rows
pg_prop = pg_num / nba_salaries.num_rows
pg_prop

Another way we can process data in tables is to apply functions to columns. We can select one column from a table as an array with the **`column`** method. For example, `nba_salaries.column("PLAYER")` would return an _array_ of player names.

Let's say we wanted to find the average salary of all NBA players in the '15-'16 season. Taking arrays makes this quite straightforward; we simply need to select the column of salaries, then apply the `np.mean` function to the array:

In [ ]:
salary_array = nba_salaries.column(3)
avg_salary = np.mean(salary_array)
avg_salary

We see that the average salary for NBA players in the '15-'16 season was just above $5 million.

** Exercise 5 **

Now you try: what is the _range_ (the maximum minus the minimum) of the salary of NBA players? (Hint: the `max` and `min` functions might be handy)

Feel free to use the `salary_array` from above.

In [ ]:
# YOUR CODE HERE
salary_range = np.max(salary_array) - np.min(salary_array)
print(salary_range)

Finally, it can be very useful to sort our tables according to some column. The `sort` function does exactly that; it takes the column that you want to sort by. By default, the `sort` function sorts the table in _ascending_ order of the data in the column indicated; however, you can change this by setting the optional parameter `descending=True`.

Below are some examples:

In [ ]:
nba_salaries.sort("PLAYER") # Sort table by name in alphabetical (ascending) order

In [ ]:
nba_salaries.sort(3, descending=True) # Sort table by salary in descending order (highest salary at top)

As a final exercise, this will combine methods that you have learned throughout this notebook. Take it one step at a time!

** Exercise 6 **

Create a new table with the 5 of the most highly paid point guards ("Position is "PG") in the '15-'16 season. These players may NOT be from the Chicago Bulls. Also, only leave the player name and team name in your final result.

Hint: In no particular order, you may need to use the `sort`, `take`, `where`, and `select` functions.

In [ ]:
pg_table = nba_salaries.where("POSITION", are.equal_to("PG"))
sorted_salaries = pg_table.sort(3, descending=True)
no_bulls = sorted_salaries.where("TEAM", are.not_equal_to("Chicago Bulls"))
final_table = no_bulls.take(np.arange(5)).select("PLAYER", "TEAM")
final_table

## Summary

As a summary, here are the functions we learned about during this notebook:
    
|Name|Example|Purpose|
|-|-|-|
|`Table`|`Table()`|Create an empty table, usually to extend with data|
|`Table.read_table`|`Table.read_table("my_data.csv")`|Create a table from a data file|
|`with_columns`|`tbl = Table().with_columns("N", np.arange(5), "2*N", np.arange(0, 10, 2))`|Create a copy of a table with more columns|
|`column`|`tbl.column("N")`|Create an array containing the elements of a column|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`num_rows`|`tbl.num_rows`|Compute the number of rows in a table|
|`num_columns`|`tbl.num_columns`|Compute the number of columns in a table|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("2*N")`|Create a copy of a table without some of the columns|
|`take`|`tbl.take(np.arange(0, 6, 2))`|Create a copy of the table with only the rows whose indices are in the given array|

## Bibliography
---
Some examples adapted from the UC Berkeley Data 8 textbook, <a href="https://www.inferentialthinking.com">*Inferential Thinking*</a>.

Authors:
- Shriya Vohra
- Scott Lee
- Pancham Yadav